.container {
  margin: 0 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.formContainer {
  width: 300px;
  margin: auto;
  background: #dedede;
  border-radius: 10px;
  min-height: 75vh;
  padding: 10px;
}

input {
  margin: 10px 0;
  padding: 10px 25px;
}

button {
  padding: 10px 25px;
  border-radius: 33px;
  outline: none;
  border: none;
  background: blue;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination span {
  padding: 5px 10px;
  border: 1px solid #333;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.pagination span:hover,
.pagination span.active {
  background-color: #333;
  color: #fff;
}
